body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("back.jpg");
  margin: 0px;
  color: white;
}
.brand {
  padding: 10px;
  background: rgba(228, 172, 250, 0.171);
  margin-bottom: 15px;
}

.header {
  padding-top: 50px;
  margin-bottom: 20px;
  border-bottom: 1px white solid;
}

.heading {
  margin-bottom: 2px;
  padding: 5px;
  margin-bottom: 10px;
}
.filter {
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  border-left: 5px rgb(194, 141, 141) solid;
  border-top: 1px rgb(194, 141, 141) solid;
  border-bottom: 1px rgb(194, 141, 141) solid;
  border-right: 1px rgb(194, 141, 141) solid;
}
.filter-heading {
  font-size: large;
  padding-left: 15 px;
}
.filter-cmt {
  display: inline;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 5px;
  border: rgb(250, 210, 210) 1px solid;
  border-radius: 5px;
  color: white;
}
.by-committee {
  margin-bottom: 20px;
}
.filter-cmt:hover {
  cursor: pointer;
  background: rgb(255, 255, 255);
  color: rgb(52, 31, 80);
}
.event-template {
  margin: 10px;
  margin-left: 0px;
  padding: 10px;
  padding-bottom: 20px;
  background: rgba(185, 239, 255, 0.212);
  border-left: 5px rgb(194, 141, 141) solid;
  border-top: 1px rgb(194, 141, 141) solid;
  border-bottom: 1px rgb(194, 141, 141) solid;
  border-right: 1px rgb(194, 141, 141) solid;
  border-radius: 5px;
}
.event-heading {
  padding-left: 15px;
  margin-bottom: 2px;
  border-radius: 20px;
}
.organize {
  padding-left: 20px;
  font-weight: 650;
  font-size: large;
  display: inline;
}
.organizer {
  font-weight: 600;
  font-size: medium;
}
.textclr {
  color: white;
}

.date {
  font-weight: 650;
  font-size: medium;
  padding-left: 20px;
  padding-bottom: 7px;
}
.more-info {
  color: white;
  font-weight: bolder;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 5px;
  margin-left: 20px;
  border: 2px white solid;
  border-radius: 5px;
  background: rgba(255, 88, 144, 0.7);
}
.more-info:hover {
  background: rgba(252, 35, 108, 0.7);
}
.info {
  padding-left: 20px;
  padding-bottom: 10px;
}
.RSVP {
  color: white;
  font-weight: bolder;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 5px;
  margin-left: 20px;
  border: 2px white solid;
  border-radius: 5px;
  background: rgba(88, 255, 88, 0.7);
}
.RSVP:hover {
  background: rgba(0, 226, 0, 0.7);
}

.by-date {
  margin-left: 10px;
}
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #ffffff;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  border: 1px solid #ecf0f1;
  background: #ffffff;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: inline-block !important;
  visibility: visible !important;
  border: rgb(250, 210, 210) 1px solid;
  border-radius: 5px;
}

input[type="date"],
focus {
  color: #645050;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.date-text {
  margin-left: 20px;
  font-size: 20px;
}

.temp {
  padding-left: 5px;
  margin-left: 1px;
  display: inline;
}
